/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.header {
  background-color: white;
  color: black;
  padding: 1rem;
  text-align: center;
  font-family: 'Lora', serif; /* Use Lora for the header */
}

.document-journey-container {
  display: flex;
  justify-content: center !important; 
  margin: 20px;
  width: 100%;
}

.document-journey-button {
  background-color: white !important;
  border: none; 
  color : black;
  padding: 10px 20px;
  border-radius: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Roboto', sans-serif; /* Use Roboto for the button */
}

.document-journey-button:hover {
  background-color: #f0f0f0;
  color: black;
}

.main-content {
  padding: 5rem;
  margin: 2rem auto;
  max-width: 800px;
  font-family: 'Roboto', sans-serif; /* Use Roboto for the main content */
}

.slogan {
  text-align: center;
  margin-top: 4rem;
  font-family: 'Lora', serif; /* Use Lora for the slogan */
}

.articles-container {
  display: flex;
  justify-content: center;
  padding: 0 10%;
  gap: 2rem;
}

.article-card {
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif; /* Use Roboto for the article text */
}

.article-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: none;
}

.article-card h1 {
  font-family: 'Lora', serif; /* Use Lora for the article titles */
  font-size: 2rem;
  color: #333;
  margin: 1rem 0;
}

.article-card p {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
}

.footer {
  background-color: white;
  color: black;
  padding: 1rem;
  text-align: center;
  font-family: 'Roboto', sans-serif; /* Use Roboto for the footer */
}

.navbar {
  background: white;
  list-style: none;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.navbar button {
  background-color: white;
  border: 2px solid white;
  color: black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Roboto', sans-serif; /* Use Roboto for the navbar buttons */
}

.navbar button:hover {
  background-color: #f0f0f0;
  color: black;
}
